
{% load static %}
<link rel="stylesheet" type7="text/css" href="{% static 'css/style.css' %}">
<!-- 作成したCSS適応 -->
<link rel="stylesheet"  type="text/css" href="{% static 'css/traveltop.css' %}">
 
<!--java script-->　
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" defer></script>　
<script  type="text/javascript" src="{% static 'js/hamberger_menu.js' %}"></script>

<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Select Spot</title>

  </head>

  

  <body class="bgcolor">
    <div class="container-fluid img-hidden"></div>
    <h1>観光地</h1>
    <h3>{{ addressname }}({{ address }})の検索結果</h3>

    <!--メニューバー設定-->
    <div class="hamberger_menu">
      <!-- 三本線 -->
      <div class="hamberger_line">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- クリックしたときのメニュー -->
  
      <nav class="hamberger_list">
        <ul>
          <li><a href="{% url 'mymap:index' %}">Home</a></li>
          <li><a href="{% url 'mymap:overview' %}">Overview</a></li>            
          {% if user.is_authenticated %}
          <li><a class="nav-item nav-link" href="{% url 'mymap:mypage' %}">Mypage</a></li>
          <li><a class="nav-item nav-link" href="../../form">Travel planning</a></li>
          <li><a class="nav-item nav-link" href="{% url 'mymap:logout' %}">Logout</a></li>
          {% else %}
          <li class="nav-item">
          <a class="nav-item nav-link" href="{% url 'mymap:login' %}">Login</a></li>
          <li><a class="nav-item nav-link"  href="{% url 'mymap:signup' %}">Creat Account</a></li>
          {% endif %}
        </ul>
      </nav>
 
    </div>


    <div class="container container-m">
      <div class="box17">
        観光地を最大１０個選択できます
      </div>
    </div>

    
    
    <!-- <p>選択したスポット番号<span id="span1"></span></p> -->

    <!-- <input type="button" class="btn btn-info" value="ボタン" onclick="clickBtn1()">  -->
    


    <div class="container container_w container-b">
      <form action="{% url 'hotelspot' %}" method="POST" enctype="multipart/form-data" name="form1">
        <div class="left_wrap">
          <!-- <p>左側</p> -->
          <div class="row">
            {% for x in result %}
              <div class="col-sm-4 container-c">
              <input type="checkbox" name="spot1" value= {{forloop.counter0}} onclick="clickBtn1()">
                <div class="card h-250 bg-info mb-3">
                  <div class="card-body text-white">
                    <h5 class="card-title">{{x.1}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{x.2}}{{x.3}}</h6>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{x.4}}{{x.5}}</li>
                    <li class="list-group-item">{{x.6}}{{x.7}}</li>
                    <li class="list-group-item">{{x.8}}{{x.9}}</li>
                    <li class="list-group-item">{{x.10}}{{x.11}}</li>
                  </ul>
                </div> 
              </div>
            {% endfor %}
            </div>
            <br><br>
          </div>
        

          <!-- MAP -->
          <div class="right_wrap sticky_item">
            <div class="posright"> 
              <!-- map size -->
              <div id="map" style="width:400px; height:400px; "></div>
              <!--yahoomapの呼び出し、表示-->
              <script type="text/javascript" charset="utf-8" src="https://map.yahooapis.jp/js/V1/jsapi?appid=dj00aiZpPU5BV0htQU40M1lqSyZzPWNvbnN1bWVyc2VjcmV0Jng9OGI-"></script>
              <script type="text/javascript">
                /*ここからがマップ設定*/
                window.onload = function(){
                  var ymap = new Y.Map("map", {
                    configure : {
                      doubleClickZoom : true,
                      scrollWheelZoom : true,
                      singleClickPan : true,
                      dragging : true
                    }
                  });
                  
                  /*初期値どこを表示するか  35.66572, 139.73100*/
                  ymap.drawMap(new Y.LatLng({{result.0.15}},{{result.0.14}}), 14, Y.LayerSetId.NORMAL);
               
                  
                  /*ピン止め設定(y.homrcontrol)、上部の表示切替(y.layersetcontrol),場所検索バー(new Y.SearchControl)、サイドの縮尺調整バー(Y.SliderZoomControlVertical)、センターマーカー(Y.CenterMarkControl)*/
                  //ymap.addControl(new Y.HomeControl());
                  ymap.addControl(new Y.LayerSetControl());
                  ymap.addControl(new Y.SearchControl());
                  ymap.addControl(new Y.SliderZoomControlVertical());
                  ymap.addControl(new Y.CenterMarkControl());

                  var markers = [];
                  var i=0;
                  {% for x in result %}
                  markers.push(new Y.Marker(new Y.LatLng({{x.15}},{{x.14}}),{title:"{{x.1}}"}));
                  markers[i].bindInfoWindow('{{x.1}}');
                  i=i+1;
                  {% endfor %}
                  ymap.addFeatures(markers);

                  // window.bind("resize", function(e){
                  //   ymap.updateSize(max);
                  // });

                  

                }

              </script>
            
            </div>
          </div>
        
          {% csrf_token %}
          <button type="submit" class="btn btn-primary btn-lg btn-block" id="button" name="button" value="{{address}},{{addressname}}" disabled>
            ホテル選択へ
          </button>

        </div>

      </form>
    </div>

    <script>
      function clickBtn1(){
        //const arr1 = [];
        var element;
        const spot1 = document.form1.spot1;
        var count = 0;

        for(let i=0; i < spot1.length; i++){
          if(spot1[i].checked){
            count++;
            // arr1.push(spot1[i].value);
          }
        }
        if(count != 0){
          element = document.getElementById("button");
          element.disabled = false;
        }else{
          element = document.getElementById("button");
          element.disabled = true;
          alert("1つ以上選択してください")
        }
        // document.getElementById("span1").textContent = arr1;
      }

    </script>
    
    
    
  
    <footer>
      <address>Copyright(C)2020 team青春18きっぷ,Allright Reserved.</address>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
