<!DOCTYPE html>
<html lang="ja">
{% load static %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/textform.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>To The Trip</title>
  </head>
 
  <body>
 
    <div class="demo demo3">
      <div class="heading"><span>写真入力フォーム</span></div>
    </div>
 
    <div class="cp_iptxt">
      <form name="photo" method="POST" action="./scan/" enctype="multipart/form-data">
        {% csrf_token %}
        <p><input type="submit" value="OK?"></p>
        <input type="text" name="url" size="20" placeholder="http://...">
        <label>画像</label>
        <span class="focus_line"></span>
      </form>
    </div>
  
    <footer>
      <address>Copyright(C)2020 team青春18きっぷ,Allright Reserved.</address>
    </footer>
  </body>
</html>
