<!DOCTYPE html>
<html lang="ja">
{% load static %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static css/textform.css %}">
    <link rel="stylesheet" type="text/css" href="{% static css/login.css %}">
    <link rel="stylesheet" type="text/css" href="{% static css/traveltop.css %}">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" defer></script>　
    <script  type="text/javascript" src="{% static 'js/hamberger_menu.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>Specify an Image</title>
  </head>
 
  <body>

    <div class="hamberger_menu">
        
      <div class="hamberger_line">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="hamberger_list">
        <ul>
          <li><a href="{% url 'mymap:index' %}">Home</a></li>
          <li><a href="{% url 'mymap:overview' %}">Overview</a></li>            
          {% if user.is_authenticated %}
          <li><a class="nav-item nav-link" href="{% url 'mymap:mypage' %}">Mypage</a></li>
          <li><a class="nav-item nav-link" href="../../form">Travel planning</a></li>
          <li><a class="nav-item nav-link" href="{% url 'mymap:logout' %}">Logout</a></li>
          {% else %}
          <li class="nav-item">
          <a class="nav-item nav-link" href="{% url 'mymap:login' %}">Login</a></li>
          <li><a class="nav-item nav-link"  href="{% url 'mymap:signup' %}">Creat Account</a></li>
          {% endif %}
        </ul>
      </nav>
      <div class="container">
        <div class="loginPage_contents">
          <h1 class="h3 loginPage_contents_title"><h1>Specify an Image</h1></h1>
          <br><hr><br>
        </div>
      </div>  
 
      <div class="cp_iptxt">
        <form name="photo" method="POST" action="./scan/" enctype="multipart/form-data">
          {% csrf_token %}
          <p><input type="submit" value="OK?"></p>
          <input class="ef" type="text" name="url" size="20" placeholder="http://...">
          <label>画像</label>
          <span class="focus_line"></span>
        </form>
      </div>
  
    <footer>
      <address>Copyright(C)2020 team青春18きっぷ,Allright Reserved.</address>
    </footer>
  </body>
</html>
