<!DOCTYPE  html>
<html lang="ja">
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/textform.css' %}">
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>To The Trip</title>
  </head>
  
  <body>
    <h1>おススメの場所はこちらです{{url}}</h1>
    <img src="{{url}}" alt="画像" title="{{url}}">
    <p>{{pcode}}</p>
    <p>{{place}}</p>
    <form name="form" method="POST" action="../../localmap/" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="num" value="{{pcode}}">
      <input type="hidden" name="spot" value="{{place}}">
      <input type="submit" id="button" name="button" value="OK?">
    </form>
 
    <footer>
      <address>Copyright(C)2020 team青春18きっぷ,Allright Reserved.</address>
    </footer>
  </body>
</html>

