body{
    /* background: white url("HPE_LOGO.jpg") no-repeat; */
    background-color: aquamarine;
}

div.img-hidden{
    height: 300px;
    overflow: hidden;
    background-image: url("sky_01.jpg");
    text-align: left;
}

h1{
    color: white;
    font-family: serif;
}
h3{
    color: white;
    font-family: serif;   
}

div.container-m{
    margin-top: 80px;
    text-align: center;
}

div.container-b{
    margin-bottom: 80px;
}

div.container-c{
    margin-top: 60px;
}
/* -----------------地図表示------------------ */
.container{
    width: 100%;
}
.container:after{
    content:"";
    display:block;
    clear:both;
} 
.left_wrap{
    width: 67%;
    float: left;
    /* background-color: aquamarine; */
}
.right_wrap{
    width: 33%;
    float: right;
    margin-top: 80px;
}
.sticky_item{
    position: sticky;
    top: 100px;
}
.posright{
    position: absolute;
    right: -60;
}
.posttop{
    position: absolute;
    top: 0;
}

.window.onload{
	position: absolute;
	top: 120px;
	right: 0;
	width: 100%;
    height: 200px; 
}


