<!DOCTYPE html>
<html>
   {% load static %}
   {% block css %}
      <!-- Required meta tags ディスクリプションは検索した際にタイトルの下に説明文として表示-->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    　<!-- 作成したCSS適応 -->
 　　 <link rel="stylesheet" type="text/css" href="{% static 'css/mymap.css' %}">　　
 {% endblock css %} 
 {% block content %}

      <!--メニューバー-->
  <head>
      <title>travelapi</title>
  </head>

  <div class="cp_navi">
  <ul>
     <li><a href="#">Home</a></li>
      <li><a href="#">selfie</a></li>
      <li>
          <a href="#">Travel detail <span class="caret"></span></a>
        <div>
           <ul>
              <li><a href="#spots">spots</a></li>
              <li><a href="#map">map</a></li>
              <li><a href="#other">other</a></li>
           </ul>
        </div>
     </li>
     <li><a href="#">Travel plan</a></li>
     <li><a href="#">Help</a></li>
  </ul>
  </div>
  
<!--下記からマップ関係-->
<body>
<!--マップの大きさ変更-->
<div id="map" style="width:500px; height:400px; "></div>


<!--yahoomapの呼び出し、表示-->

<script type="text/javascript" charset="utf-8" src="https://map.yahooapis.jp/js/V1/jsapi?appid=dj00aiZpPU5BV0htQU40M1lqSyZzPWNvbnN1bWVyc2VjcmV0Jng9OGI-"></script>

<script type="text/javascript">
/*地図サイズ変更表示設定*/

/*ここからがマップ設定*/
window.onload = function(){
   var ymap = new Y.Map("map", {
   configure : {
       doubleClickZoom : true,
       scrollWheelZoom : true,
       singleClickPan : true,
       dragging : true
   }
 });
 /*defaultでどこを表示するか*/
 ymap.drawMap(new Y.LatLng(35.66572, 139.73100), 17, Y.LayerSetId.NORMAL);
 
 /*ピン止め設定(y.homrcontrol)、上部の表示切替(y.layersetcontrol),場所検索バー(new Y.SearchControl)、サイドの縮尺調整バー(Y.SliderZoomControlVertical)、センターマーカー(Y.CenterMarkControl)*/
 ymap.addControl(new Y.HomeControl());
 ymap.addControl(new Y.LayerSetControl());
 ymap.addControl(new Y.SearchControl());
 ymap.addControl(new Y.SliderZoomControlVertical());
 ymap.addControl(new Y.CenterMarkControl());
 window.bind("resize", function(e){
       ymap.updateSize(max);
   });
}
</script>
{% endblock %}
</body>
</html>