{% load static %}
<!doctype html>
<head>
    <!-- Required meta tags ディスクリプションは検索した際にタイトルの下に説明文として表示-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  　<!-- 作成したCSS適応 -->
　　　　<link rel="stylesheet" href="toppage.css">

{% block script%}{% endblock script %}
{% block css%}{% endblock css %}


    <!-- ページ表示 -->
    <title>travelapi</title>
</head>

<div class="cp_navi">
<ul>
    <li><a href="#">Home</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'mymap:login' %"}>login</a></li>
    <li>
        <a href="#">Travel detail <span class="caret"></span></a>
		<div>
			<ul>
				<li><a href="#spots">spots</a></li>
				<li><a href="#map">map</a></li>
				<li><a href="#other">other</a></li>
			</ul>
		</div>
    </li>
    {% else %}
	<li><a href="{% url 'mymap:logout' %}">log out</a></li>
    <li><a class="nav-item nav-link"　href="{% url 'mymap:newaccount' %}">create account</a></li>
    <li><a href="{% url 'mymap:login' %}">login</a></li>
    {% endif %}
</ul>
</div>
